In [1]:
# 3-6
a=7+8*2-6+8/2
print(a)
b=(7+8)*2-(6+8)/2
print(b)

21.0
23.0

In [2]:
# 3-6
str1='learning python '+'is fun'
print(str1)

learning python is fun

In [3]:
# 3-6
str2='learning python '+\
    'is fun'
print(str2)

learning python is fun

In [4]:
# 3-7
question1='is your birthday in set1?\n'+\
'1 3 5 7\n'+\
'9 11 13 15\n'+\
'17 19 21 23\n'+\
'25 27 29 31\n'+\
'\n enter 1 for yes and 0 for no:'
print(question1)

is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

 enter 1 for yes and 0 for no:

In [5]:
# 3-8-2
print('hello,world')
print('hello,',end='')
print('world')
s='hello,'+\
    'world'
print(s)

hello,world
hello,world
hello,world

In [6]:
# 3-9
8/3

2.6666666666666665

In [7]:
# 3-9
8//3

2

In [8]:
# 3-9
8**2

64

In [9]:
# 3-9
100**0.5

10.0

In [10]:
# 3-9
8%3

2

In [11]:
# 3-9
i=100
j=100
k=100
print(i,j,k)

100 100 100

In [12]:
# 3-9
i=j=k=200
print(i,j,k)

200 200 200

In [13]:
# 3-9
a,b=100,200
print(a,b)

100 200

In [14]:
# 3-10
a = 100
b = 200
a = b
b = a
print(a,b)

200 200

In [15]:
# 3-10
a=100
b=200
temp=a
a=b
b=temp
print(a,b)

200 100

In [16]:
# 3-11
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [17]:
# 3-12
a=10
a+=2
print(a)

12

In [18]:
# 3-12
a*=5
print(a)

60

In [19]:
# 3-12
a//=3
print(a)

20

In [20]:
# 3-12
a%=6
print(a)

2

In [21]:
# 3-12
k=eval(input())

5

In [22]:
# 3-12
k

5

In [23]:
# 3-12
print(k)

5

In [26]:
# 3-13
s=eval(input('please enter an integer:'))

please enter an integer:87

In [27]:
# 3-13
s

87

In [32]:
# 3-13
s2=input('please enter a string:')

please enter a string:hi

In [33]:
# 3-13
s2

'hi'

In [34]:
# 3-13
print(s2)

hi

In [35]:
# 3-13
str2=input('please enter an integer:')

please enter an integer:88

In [36]:
# 3-13
print(str2)

88

In [37]:
# 3-13
str2

'88'

In [38]:
# 3-14
str2=eval(input('please enter a integer:'))
num=str2+100
print(num)

please enter a integer:87
187

In [39]:
# 3-15
num1=eval(input('please enter number1:'))
num2=eval(input('please enter number2:'))
print(num1+num2)

please enter number1:69
please enter number2:87
156

In [50]:
num1,num2=eval(input('enter two numbers separated by comma:' ))
print(num1+num2)

enter two numbers separated by comma:100,200
300